option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --no-input"
  02_migrate:
    command: "python manage.py migrate --no-input"
    leader_only: true
